---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BookingForm from '../components/BookingForm.astro';
---

<Layout title="Veterinaria Camila | Turnos">
	<Header />
	<main>
		<Hero />
        <BookingForm />
	</main>
    
    <footer style="text-align: center; padding: 20px; background: white; margin-top: 2rem;">
        <p>© 2024 Veterinaria Camila. Mendoza.</p>
    </footer>
</Layout>